#Pagination{
    width: 90%;
    height: 70px;
    background-color: rgb(192, 153, 101);
    margin: 0 auto;
    text-align: center;
    border: 10px solid brown;
    border-top: none;
}

#pagebox{
    display: inline-block;
}

#page{
    width: 35px;
    display: inline-block;
    height: 35px;
    border: 1px solid black;
    background-color: blanchedalmond;
    text-align: center;
    line-height: 35px;
    margin: 15px 15px 0 15px;
    cursor: pointer;
}
#page:hover, #page.active{
    background-color: blueviolet;
    font-weight: bold;
}

#pagebox button{
    width: 25px;
    height: 25px;
    border: none;
    background-color: burlywood;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
#pagebox button:hover{
    color: purple;
}